<div style="width:50%;margin-top: 6rem;margin-left: auto;margin-right: auto;">
<div class="card border border-primary">
    <div class="card-body  p-5">
        <div style="color: #0d3057"><strong>{{ form_label(form.nomchapitre,"Nom Chapitre") }}</strong></div>
        <div  >{{ form_widget(form.nomchapitre, { 'attr': {'class': 'form-control mb-2'} }) }}</div>
        <div>{{ form_errors(form.nomchapitre) }}</div>

    <div style="color: #0d3057"><strong>{{ form_label(form.languechapitre,"Langue") }}</strong></div>
    <div>{{ form_widget(form.languechapitre , { 'attr': {'class': 'form-control mb-2'} }) }}</div>
    <div class="form-error">{{ form_errors(form.languechapitre) }}</div>

    <div style="color: #0d3057"><strong>{{ form_label(form.typechapitre,"Type") }}</strong></div>
    <div>{{ form_widget(form.typechapitre , { 'attr': {'class': 'form-control mb-2'} }) }}</div>
    <div>{{ form_errors(form.typechapitre) }}</div>

        <div style="color: #0d3057"><strong>{{ form_label(form.idfirst,"Cour") }}</strong></div>
        <div>{{ form_widget(form.idfirst , { 'attr': {'class': 'form-control mb-2'} }) }}</div>
        <div>{{ form_errors(form.idfirst) }}</div>

        <div>
            <div style="color: #0d3057"><strong>{{ form_label(form.imageFile,"Image") }}</strong></div>
            <div>{{ form_widget(form.imageFile , { 'attr': {'class': 'form-control mb-2'} }) }}</div>
            <div>{{ form_errors(form.imageFile) }}</div> </div>

        <br>
        <div class="d-flex justify-content-center">
            <button class="btn btn-inverse-success btn-fw">{{ button_label|default('Enregistrer') }}</button>
        </div>
        <br>

        {{ form_end(form) }}

        <br>
        <div class="text-left">
            <div class="form-group">
                <form action="{{ path("app_chapitre_index") }}">
                    <button class="btn btn-primary btn-rounded btn-icon"><i class="ti-back-left btn-icon-prepend"></i></button>
                </form>

            </div>
        </div>



    </div>
</div>
</div>

