{% extends 'base-backcours.html.twig' %}

{% block title %}Edit CoursFirst{% endblock %}

{% block body %}
    <br>
    <h1 class="text-center" style="color: #1b2658">Modifier ce chapitre </h1>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

<div

    <div style="width:50%;margin-top: 6rem;margin-left: auto;margin-right: auto;">
        <div class="card border border-primary">
            <div class="card-body  p-5">
                <div >{{ form_label(form.nomchapitre,"Nom Chapitre") }}</div>
                <div  >{{ form_widget(form.nomchapitre, { 'attr': {'class': 'form-control mb-2'} }) }}</div>
                <div>{{ form_errors(form.nomchapitre) }}</div>

                <div>{{ form_label(form.languechapitre,"Langue") }}</div>
                <div>{{ form_widget(form.languechapitre , { 'attr': {'class': 'form-control mb-2'} }) }}</div>
                <div class="form-error">{{ form_errors(form.languechapitre) }}</div>

                <div>{{ form_label(form.typechapitre,"Type") }}</div>
                <div>{{ form_widget(form.typechapitre , { 'attr': {'class': 'form-control mb-2'} }) }}</div>
                <div>{{ form_errors(form.typechapitre) }}</div>

                <div>{{ form_label(form.idfirst,"Cour") }}</div>
                <div>{{ form_widget(form.idfirst , { 'attr': {'class': 'form-control mb-2'} }) }}</div>
                <div>{{ form_errors(form.idfirst) }}</div>

                <div>
                    <div>{{ form_label(form.imageFile,"Image") }}</div>
                    <div>{{ form_widget(form.imageFile , { 'attr': {'class': 'form-control mb-2'} }) }}</div>
                    <div>{{ form_errors(form.imageFile) }}</div> </div>

                <br>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-inverse-success btn-fw">{{ button_label|default('Enregistrer') }}</button>
                </div>
                <br>

                {{ form_end(form) }}

                <div class="text-center">
                {{ include('chapitre/_delete_form.html.twig') }}
                </div>


                <br>
                <div class="text-left">
                    <div class="form-group">
                        <form action="{{ path("app_chapitre_index") }}">
                            <button class="btn btn-primary btn-rounded btn-icon"><i class="ti-back-left btn-icon-prepend"></i></button>
                        </form>

                    </div>
                </div>



            </div>
        </div>
    </div>

</div>
{% endblock %}
