{% extends 'base-backcours.html.twig' %}

{% block title %}Chapitre index{% endblock %}

{% block body %}
<h1 class="text-center" style="color: #0d3057">
    <br> Les chapitres</h1>
<form method="post" >
    <div class="input-group mb-3">


           {#<input type="text" class="form-control" name="search" id="myInput"> #}

        </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <table class="table" id="h">
        <thead>

            <tr>
                <th style="color: #0d3057">idChapitre</th>
                <th style="color: #0d3057">Nomchapitre</th>
                <th style="color: #0d3057">Languechapitre</th>
                <th style="color: #0d3057">Typechapitre</th>
                <th style="color: #0d3057">Nom Cours</th>
                <th style="color: #0d3057">Image</th>
                <th style="color: #0d3057">actions</th>
            </tr>
        </thead>
        <tbody id="myTable">
        {% for chapitre in chapitre %}
            <tr>
                <td>{{ chapitre.idChapitre }}</td>
                <td>{{ chapitre.nomchapitre }}</td>
                <td>{{ chapitre.languechapitre }}</td>
                <td>{{ chapitre.typechapitre }}</td>
                <td>{{ chapitre.idfirst.nomcours ?? ""}}</td>
                <td><img src={{ asset('uploads/images/products/'  ~ chapitre.imageName) }} width="40%"></td>

                <td>
                    <a href="{{ path('app_chapitre_show', {'idChapitre': chapitre.idChapitre}) }}" style="color: #0d3057"><strong><i class="mdi mdi-book-open"></i></strong> </a>
                    <a href="{{ path('app_chapitre_edit', {'idChapitre': chapitre.idChapitre}) }}" style="color: #0d3057"><strong><i class="mdi mdi-border-color"></i></strong> </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <div class="text-center">
            <a  href="{{ path('app_chapitre_new') }}" class="btn btn-outline-primary " >{{ button_label|default('Ajouter') }}</a></div>
    </div>
    <br>
    <br> <div class="d-flex justify-content-center">
    {%  do chapitre.setPageRange(2) %}
    {{ knp_pagination_render(chapitre,'Pagination.html.twig') }}
</div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}
