{% extends 'base-backcours.html.twig' %}

{% block title %}Chapitre{% endblock %}

{% block body %}
    <h1 class="text-center" style="color: #0d3057">
        <br> Le chapitre Selectionné</h1>

    <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <div class="table-responsive">

            <table class="table">
        <tbody>
            <tr>
                <th style="color: #0d3057"><strong>idChapitre </strong></th>
                <td>{{ chapitre.idChapitre }}</td>
            </tr>
            <tr>
                <th style="color: #0d3057"><strong>Nomchapitre</strong></th>
                <td>{{ chapitre.nomchapitre }}</td>
            </tr>
            <tr>
                <th style="color: #0d3057"><strong>Languechapitre</strong></th>
                <td>{{ chapitre.languechapitre }}</td>
            </tr>
            <tr>
                <th style="color: #0d3057"><strong>Typechapitre</strong></th>
                <td>{{ chapitre.typechapitre }}</td>
            </tr>
            <tr>
                <th style="color: #0d3057"><strong> nom cours </strong></th>
                <td>{{ chapitre.idfirst.nomcours }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <a href="{{ path('app_chapitre_edit', {'idChapitre': chapitre.idChapitre}) }}" class="btn btn-outline-primary">{{ button_label|default('Modifier') }}</a>
        <a  href="{{ path('app_chapitre_index', {'idChapitre': chapitre.idChapitre}) }}" class="btn btn-outline-secondary ml-3" >{{ button_label|default('Annuler') }}</a></div></div>
    </div> </div></div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}




