{% extends 'base_front_kais.html.twig' %}

{% block title %}Reponse{% endblock %}

{% block body %}
    <h1>Reponses</h1>


    <table class="table" border="1">
        <tbody>
            <tr>
                <th>Idreponse</th>
                <td>{{ reponse.idreponse }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ reponse.text }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ reponse.status }}</td>
            </tr>
            <tr>
                <th>Idreclamation</th>
                <td>{{ reponse.idreclamation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reponse_index_front') }}">back to list</a>

    <a href="{{ path('app_reponse_edit_front', {'idreponse': reponse.idreponse}) }}">edit</a>

    {{ include('reponse/_delete_form_front.html.twig') }}
{% endblock %}
