{% extends 'base-back.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
    <h1 class="houta">{{ 'Services'|trans|raw }}</h1>
    <style>
        .houta{text-align:center}
        .houta{color: #0d3057}
    </style>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-striped" id="t">
        <thead>


            <tr>
                <th  style="color:#0d3057 ">{{ 'Idservice'|trans|raw }}</th>
                <th style="color:#0d3057 ">{{ 'Nomservice'|trans|raw }}</th>
                <th style="color:#0d3057 ">{{  'Nombre ouvriers'|trans|raw }}</th>
                <th style="color:#0d3057 ">{{ 'Prixservice'|trans|raw }}</th>
                <th style="color:#0d3057 ">{{ 'Descriptionservice'|trans|raw }}</th>
                <th style="color:#0d3057 ">{{ 'Datedebutservice'|trans|raw }}</th>
                <th style="color:#0d3057 ">{{ 'Datefinservice'|trans|raw }}</th>
                <th style="color:#0d3057 ">{{ 'Disponibiliteservice'|trans|raw }}</th>
                <th style="color:#0d3057 ">{{ 'Categorie service'|trans|raw }}</th>
                <th style="color:#0d3057 ">{{ 'Image'|trans|raw }}</th>
                <th style="color:#0d3057 ">{{ 'actions'|trans|raw }}</th>
            </tr>
        </thead>
        <tbody id="myTable">
        {% for service in services %}
            <tr>
                <td>{{ service.idservice }}</td>
                <td>{{ service.nomservice }}</td>
                <td>{{ service.nbreouvrier }}</td>
                <td>{{ service.prixservice }}</td>
                <td>{{ service.descriptionservice }}</td>
                <td>{{ service.datedebutservice }}</td>
                <td>{{ service.datefinservice }}</td>
                <td>{{ service.disponibiliteservice }}</td>
                <td>{{ categorie.find(service.idcategorieservice).getNomcategorieservice() }}</td>
                <td><img src={{ asset('uploads/images/products/'  ~ service.imageName) }} width="60%"></td>
                <td>
                    <a href="{{ path('app_service_show', {'idservice': service.idservice}) }}"><strong><i class="mdi mdi-book-open"></i> Afficher</strong></a>
                </td>
                <td>
                    <a href="{{ path('app_service_edit', {'idservice': service.idservice}) }}"><strong><i class="mdi mdi-border-color"></i> Modifier</strong></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
                    <button type="button" class="btn btn-outline btn-fw "><a href="{{ path('app_service_new') }}">  {{ 'Create new'|trans|raw }}</a></button>

    </table>

    <div class="d-flex justify-content-center">
        <div>
    {%  do us.setPageRange(2) %}
    {{ knp_pagination_render(us,'Pagination.html.twig') }}
    </div>
    </div>
            </div>
        </div>
    </div>
</div>

    <form method="post">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="search" id="myInput">

        </div>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>


{% endblock %}
