{% extends 'base-back.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <h1>Service</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idservice</th>
                <td>{{ service.idservice }}</td>
            </tr>
            <tr>
                <th>Nomservice</th>
                <td>{{ service.nomservice }}</td>
            </tr>
            <tr>
                <th>Nbreouvrier</th>
                <td>{{ service.nbreouvrier }}</td>
            </tr>
            <tr>
                <th>Prixservice</th>
                <td>{{ service.prixservice }}</td>
            </tr>
            <tr>
                <th>Descriptionservice</th>
                <td>{{ service.descriptionservice }}</td>
            </tr>
            <tr>
                <th>Datedebutservice</th>
                <td>{{ service.datedebutservice }}</td>
            </tr>
            <tr>
                <th>Datefinservice</th>
                <td>{{ service.datefinservice }}</td>
            </tr>
            <tr>
                <th>Disponibiliteservice</th>
                <td>{{ service.disponibiliteservice }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_service_index') }}">back to list</a>

    <a href="{{ path('app_service_edit', {'idservice': service.idservice}) }}">edit</a>

    {{ include('service/_delete_form.html.twig') }}
{% endblock %}
