{% extends 'base_front_kais.html.twig' %}


{% block title %}Mes reclamations{% endblock %}


{% block body %}

        <div class="row">

           {% for reclamation in reclamations %}
               <div class="col-lg-6 mt-4">
                   <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                       <div class="pic"><img src={{ asset('uploads/image/rec/'  ~ reclamation.imageName) }} class="img-fluid" alt=""></div>
                       <div class="member-info">
                           <h4>Service reclamé: </h4>
                           <span>{{ reclamation.nomservcie }}</span>
                           <p>{{ reclamation.description }}</p>
                           <div class="social">
                               <a href="{{ path('app_reclamation_show_front', {'idreclamation': reclamation.idreclamation}) }}"><i class="bi bi-caret-right"></i></a>
                               <a href="{{ path('app_reclamation_edit_front', {'idreclamation': reclamation.idreclamation}) }}"><i class="bi bi-pencil-square"></i></a>
                           </div>
                       </div>
                   </div>
               </div>
           {% endfor %}

        </div><br>

    <div class="navigation">
        {{ knp_pagination_render(reclamations) }}
    </div>


    <div class="d-grid mx-auto col-6" >
        <br> <br> <br>
    <a href="{{ path('app_reclamation_new_front') }}" class="btn btn-primary" type="">Create new</a>
    </div>


{% endblock %}
