{% extends 'base_front_kais.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}
        <div class="row">
            <table class="table table-success">
               <tbody>
                   <tr>
                       <th>Nom et prenom</th>
                       <td>{{ reclamation.nom }} {{ reclamation.prenom }}</td>
                   </tr>
                   <tr>
                       <th>Email</th>
                       <td>{{ reclamation.email }}</td>
                   </tr>
                   <tr>
                       <th>NumeroMobile</th>
                       <td>{{ reclamation.numeroMobile }}</td>
                   </tr>
                   <tr>
                       <th>Nom service</th>
                       <td>{{ reclamation.nomservcie }}</td>
                   </tr>
                   <tr>
                       <th>Description</th>
                       <td>{{ reclamation.description }}</td>
                   </tr>
               </tbody>
            </table>
        </div>

        <div class="row">
            <h3>Liste des reponses :</h3>
            <section class="blog-single section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-12">
                            <div class="blog-single-main">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="comments">
                                            <h3 class="comment-title">Comments ({{ nbr }})</h3>
                                            {% for i in reponse %}
                                            <!-- Single Comment -->
                                            <div class="single-comment">
                                                {% if i.prenom == "admin" %}
                                                    <img src="{{ asset('admin.png')}}" width="10px" alt="#">
                                                {% else %}
                                                    <img src="{{ asset('user.png')}}" width="10px" alt="#">
                                                {% endif %}                                                <div class="content">
                                                    <h6> {{ i.prenom }} <span> {{ i.daterep ? i.daterep|date('d-m-Y') : '' }} </span></h6>
                                                    <p> {{ i.text }} </p>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



        </div>
        <div class="row">
            <a href="{{ path('app_reclamation_index_front') }}">back to list</a>
            <a href="{{ path('app_reponserec_new_front', {'idrec': reclamation.idreclamation}) }}">Ajouter reponse</a>
            <a href="{{ path('app_reclamation_edit_front', {'idreclamation': reclamation.idreclamation}) }}">Modifier ma reclamation</a>
            <a href="{{ path('remove', {'id': reclamation.idreclamation}) }}">Supprimer ma reclamation</a>
        </div>

    {{ include('reclamation/_delete_form_front.html.twig') }}


{% endblock %}
