{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

<div class="form-group">
    <label for="exampleInputName1">Nom</label>
    <input type="text" class="form-control" id="exampleInputName1" placeholder="Nom magasin" {{form_widget(form.nommagasin)}}
    {{form_errors(form.nommagasin)}}
</div>
<div class="form-group">
    <label for="exampleInputName1">Adresse </label>
    <input type="text" class="form-control" id="exampleInputName1" placeholder="Adresse magasin" {{form_widget(form.adressemagasin)}}
    {{form_errors(form.adressemagasin)}}
</div>
<div class="form-group">
    <label for="exampleInputEmail3">Email </label>
    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" {{form_widget(form.emailmagasin)}}
    {{form_errors(form.emailmagasin)}}
</div>
<div class="form-group">
    <label for="exampleInputName1">Numero mobile</label>
    <input type="number" class="form-control" id="exampleInputName1" placeholder="Numero mobile" {{form_widget(form.telmagasin)}}
    {{form_errors(form.telmagasin)}}
</div>

<button class="btn btn-primary mr-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

