{% extends 'base_front_kais.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block body %}
    <h1>Magasin</h1>

    <table class="table" border="1">
        <tbody>
            <tr>
                <th>Idmagasin</th>
                <td>{{ magasin.idmagasin }}</td>
            </tr>
            <tr>
                <th>Nommagasin</th>
                <td>{{ magasin.nommagasin }}</td>
            </tr>
            <tr>
                <th>Adressemagasin</th>
                <td>{{ magasin.adressemagasin }}</td>
            </tr>
            <tr>
                <th>Emailmagasin</th>
                <td>{{ magasin.emailmagasin }}</td>
            </tr>
            <tr>
                <th>Telmagasin</th>
                <td>{{ magasin.telmagasin }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_magasin_index_front') }}">back to list</a>

    <a href="{{ path('app_magasin_edit_front', {'idmagasin': magasin.idmagasin}) }}">edit</a>

    {{ include('magasin/_delete_form_front.html.twig') }}
{% endblock %}
