{% extends 'base_back_kais.html.twig' %}

{% block title %}Categoriearticle index{% endblock %}

{% block body %}
    <h1>Categoriearticle index</h1>

    <table class="table table-striped table-hover" id="t">
        <thead>
            <tr>
                <th>Idcategorie</th>
                <th>Libelle</th>
                <th>Discription</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="myTable">
        {% for categoriearticle in categoriearticles %}
            <tr>
                <td>{{ categoriearticle.idcategorie }}</td>
                <td>{{ categoriearticle.libelle }}</td>
                <td>{{ categoriearticle.discription }}</td>
                <td>
                    <a href="{{ path('app_categoriearticle_show_back', {'idcategorie': categoriearticle.idcategorie}) }}">show</a>
                    <a href="{{ path('app_categoriearticle_edit_back', {'idcategorie': categoriearticle.idcategorie}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form method="post" >
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="search" id="myInput">

        </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>



    <a href="{{ path('app_categoriearticle_new_back') }}">Create new</a>
{% endblock %}
