{% extends 'base_back_kais.html.twig' %}

{% block title %}Categoriearticle{% endblock %}

{% block body %}
    <h1>Categoriearticle</h1>

    <table class="table table-dark">
        <tbody>
            <tr>
                <th>Idcategorie</th>
                <td>{{ categoriearticle.idcategorie }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ categoriearticle.libelle }}</td>
            </tr>
            <tr>
                <th>Discription</th>
                <td>{{ categoriearticle.discription }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categoriearticle_index_back') }}">back to list</a>

    <a href="{{ path('app_categoriearticle_edit_back', {'idcategorie': categoriearticle.idcategorie}) }}">edit</a>

    {{ include('categoriearticle/_delete_form_back.html.twig') }}
{% endblock %}
