{% extends 'base_back_kais.html.twig' %}

{% block title %}Avis index{% endblock %}

{% block body %}
    <h1>Avis index</h1>

    <table class="table table-striped table-hover" id="t">
        <thead>
            <tr>
                <th>Idavis</th>
                <th>Detailavisservice</th>
                <th>Noteservice</th>
                <th>Idarticle</th>
                <th>Iduser</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="myTable">
        {% for avi in avis %}
            <tr>
                <td>{{ avi.idavis }}</td>
                <td>{{ avi.detailavisservice }}</td>
                <td>{{ avi.noteservice }}</td>
                <td>{{ avi.idarticle }}</td>
                <td>{{ avi.iduser }}</td>
                <td>
                    <a href="{{ path('app_avis_show_back', {'idavis': avi.idavis}) }}">show</a>
                    <a href="{{ path('app_avis_edit_back', {'idavis': avi.idavis}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    <a href="{{ path('app_avis_new_back') }}">Create new</a>
{% endblock %}
