{% extends 'base_front_kais.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
    <h1>Avis</h1>

    <table class="table" border="1">
        <tbody>
            <tr>
                <th>Idavis</th>
                <td>{{ avi.idavis }}</td>
            </tr>
            <tr>
                <th>Detailavisservice</th>
                <td>{{ avi.detailavisservice }}</td>
            </tr>
            <tr>
                <th>Noteservice</th>
                <td>{{ avi.noteservice }}</td>
            </tr>
            <tr>
                <th>Idarticle</th>
                <td>{{ avi.idarticle }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ avi.iduser }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_avis_index_front') }}">back to list</a>

    <a href="{{ path('app_avis_edit_front', {'idavis': avi.idavis}) }}">edit</a>

    {{ include('avis/_delete_form_front.html.twig') }}
{% endblock %}
