
{{ form_start(form,{'attr' : {'novalidate' : 'novalidate'}} ) }}
<div class="row">
<div class="col-lg-5  d-flex align-items-stretch">
<div class="php-email-form">
                    <div class="form-group ">

                <input class="form-control border-light text-center "  placeholder={{ 'E-mail ...' |trans|raw }}{{ form_widget(form.login) }}
                        {{ form_errors(form.login) }}
                    </div>


                      <div class="form-group ">
                      <input class="form-control border-light text-center" placeholder={{ 'Mot de passe ...'|trans|raw }}{{ form_widget(form.passw) }}
                          {{ form_errors(form.passw) }}
                      </div>

                    <div class="text-center">
                <button class="btn btn-outline-primary" >{{ button_label|default("Se connecter"|trans|raw) }}</button>
                    </div>
                      </br>


                 <div class="text-center" style="color: #0d3057">
                  {{ "Vous n'avez pas un compte ?"|trans|raw}}
                   <a href="{{ path('app_utilisateur_new') }}">{{ "S'inscrire"|trans|raw}}</a></br>
                 </div>

        </br>
    <div class="text-center">
        <a class="bt" href="{{ path('mdpreset') }}">{{'Mot de passe oublié ?'|trans|raw}} </a></br>
    </div>

</div>
</div>
</div>

    {{ form_end(form) }}
