<table class="table table-striped">

    {{ form_start(form,{'attr' : {'novalidate' : 'novalidate'}} ) }}

    <tr>
        <div class="row">
            <div class="col-md-6">
                <td>

                    <label class="label col-md-2 control-label"><h4> {{ form_label(form.nomuser, "Nom" )}}</h4></label>
                    <input type="text" class="form-control"  {{ form_widget(form.nomuser) }}

                </td>

                <td>
                    {{ form_errors(form.nomuser) }}
                </td>
            </div>
        </div>
    </tr>

    <tr>
        <td>

            <label class="col-sm-3 col-form-label"><h4>{{ form_label(form.prenomuser, "Prenom" )}}</h4></label>
            <input type="text" border="1" class="form-control" {{ form_widget(form.prenomuser) }}
        </td>

        <td>
            {{ form_errors(form.prenomuser) }}
        </td>
    </tr>

    <tr>
        <td>
            <label class="label col-md-2 control-label"><h4>{{ form_label(form.cinuser, "CIN" )}}</h4></label>

            <input type="text" class="form-control"{{ form_widget(form.cinuser) }}
        </td>

        <td>
            {{ form_errors(form.cinuser) }}
        </td>
    </tr>

    <tr>
        <td>
            <label class="label col-md-2 control-label"><h4> {{ form_label(form.ddnuser, "Date de naissance" )}}</h4></label>
            {{ form_widget(form.ddnuser ) }}
        </td>

        <td>
            {{ form_errors(form.ddnuser) }}
        </td>
    </tr>

    <tr>
        <td>
            <label class="label col-md-2 control-label"><h4> {{ form_label(form.adressuser, "Adresse" )}}</h4></label>

            <input type="text" border="0" class="form-control" {{ form_widget(form.adressuser) }}
        </td>

        <td>
            {{ form_errors(form.adressuser) }}
        </td>
    </tr>

    <tr>
        <td>
            <label class="label col-md-2 control-label"><h4>{{ form_label(form.codepostaluser, "Code Postal" )}}</h4></label>

            <input type="number" border="0" class="form-control"{{ form_widget(form.codepostaluser) }}
        </td>

        <td>
            {{ form_errors(form.codepostaluser) }}
        </td>
    </tr>

    <tr>
        <td>
            <label class="label col-md-2 control-label"><h4>  {{ form_label(form.numuser, "Num Tel" )}}</h4></label>

            <input type="text" border="0" class="form-control" placeholder="Num Tel" {{ form_widget(form.numuser) }}
        </td>

        <td>
            {{ form_errors(form.numuser) }}
        </td>
    </tr>

    <tr>
        <td>
            <label class="label col-md-2 control-label"><h4>  {{ form_label(form.loginuser, "Email" )}}</h4></label>


            <input type="email" border="0" class="form-control"{{ form_widget(form.loginuser, {'attr':{'placeholder':'x@gmail.com'}}) }}
        </td>

        <td>
            {{ form_errors(form.loginuser) }}
        </td>
    </tr>

    <tr>
        <td>

            <button class="btn btn-outline-secondary" >{{ button_label|default('Ajouter') }}</button>

        </td>

    </tr>

</table>
{{ form_end(form) }}



