{% extends 'base-backmodifutil.html.twig' %}

{% block title %}Modifier Utilisateur{% endblock %}

{% block body %}
    <h1 class="text-center" style="color: #0d3057">{{ 'Modifier Utilisateur'|trans|raw  }}</h1>

    <div style="width:50%;margin-top: 6rem;margin-left: auto;margin-right: auto;">
        <div class="card border border-primary">
            <div class="card-body  p-5">
                {{ form_start(form,{'attr' : {'novalidate' : 'novalidate'}} ) }}
                <div style="color: #0d3057" class="text-center"><strong>{{ form_label(form.nomuser, "Nom" )}}</strong></div>
                <div><input class="form-control" placeholder="Nom"  {{ form_widget(form.nomuser) }}</div>
                <div>{{ form_errors(form.nomuser) }}</div>


                <div style="color: #0d3057" class="text-center"><strong>{{ form_label(form.prenomuser, "Prenom" )}}</strong></div>
                <div><input class="form-control" placeholder="Prenom" {{ form_widget(form.prenomuser) }}</div>
                <div>{{ form_errors(form.prenomuser) }}</div>


                <div style="color: #0d3057" class="text-center"><strong>{{ form_label(form.cinuser, "CIN" )}}</strong></div>
                <div><input class="form-control" placeholder="CIN" {{ form_widget(form.cinuser) }}</div>
                <div>{{ form_errors(form.cinuser) }}</div>


                <div style="color: #0d3057" class="text-center"><strong>{{ form_label(form.ddnuser, "Date de naissance" )}}</strong></div>
                <div class="text-center">{{ form_widget(form.ddnuser ) }}</div>
                <div>{{ form_errors(form.ddnuser) }}</div>


                <div style="color: #0d3057" class="text-center"><strong>{{ form_label(form.adressuser, "Adresse" )}}</strong></div>
                <div><input class="form-control"  placeholder="Adresse"  {{ form_widget(form.adressuser) }}</div>
                <div>{{ form_errors(form.adressuser) }}</div>


                <div style="color: #0d3057" class="text-center"><strong>{{ form_label(form.codepostaluser, "Code Postal" )}}</strong></div>
                <div><input class="form-control"   placeholder="Code Postal"   {{ form_widget(form.codepostaluser) }}
                <div>{{ form_errors(form.codepostaluser) }}</div>


                <div style="color: #0d3057" class="text-center"><strong>{{ form_label(form.numuser, "Num Tel" )}}</strong></div>
                <div><input class="form-control" placeholder="Num Tel" {{ form_widget(form.numuser) }}</div>
                <div>{{ form_errors(form.numuser) }}</div>


                <div style="color: #0d3057" class="text-center"><strong>{{ form_label(form.loginuser, "Email" )}}</strong></div>
                <div><input class="form-control" {{ form_widget(form.loginuser, {'attr':{'placeholder':'x@gmail.com'}}) }}</div>
                <div>{{ form_errors(form.loginuser) }}</div>
                    <br>
                <div class="d-flex justify-content-center">
                    <button  class="btn btn-inverse-success">
                        {{ button_label|default("Modifier")|trans|raw  }}
                    </button>
                </div>
                    {{ form_end(form) }}

                    <form method="post" action="{{ path('app_utilisateur_delete', {'id': utilisateur.iduser}) }}" onsubmit="return confirm('Etes-vous sûr de supprimer ce utilisateur?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.iduser) }}">
                        <button class="btn btn-inverse-secondary btn-fw">
                            {{ 'Supprimer'|trans|raw  }}
                        </button>
                    </form>
                    <br>
                <br>
                    <div class="d-flex ">
                        <button class="btn btn-primary btn-rounded btn-icon">
                        <a href="{{ path('app_utilisateur_index') }}" style="color: white"><i class="ti-back-left btn-icon-prepend"></i></a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
