{% extends 'base-Backutil.html.twig' %}

{% block title %} Ramcha {% endblock %}

{% block body %}
<h1 class="text-center" style="color:#0f3d81">
    {{ 'Liste des utilisateurs'|trans|raw }}
</h1>


        <div class="justify-content-end d-flex">

                <div class="col-md-2 mb-4 stretch-card transparent">
                    <div class="card card-white">
                        <div class="card-body">
                     <h6 style="color:#0f3d81" class="text-center">{{ 'Nombre des utilisateurs'|trans|raw  }} : <strong>{{ ut }}</strong></h6>
                </button>
                        </div>
                    </div>
            </div>
        </div>


    <div class="text-right">
        <button type="button" class="btn btn-inverse-secondary btn-fw">
            <a href="{{ path('app_utilisateur_index') }}" style="color: white">^</a></button>
        <button type="button" class="btn btn-inverse-secondary btn-fw">
        <a href="{{ path('app_utilisateur_index2') }}" style="color: white" >v</a></button>
    </div>
    <form method="post" action="{{ path('recher') }}">
        <div class="input-group mb-3">

            <div class="input-group-append">
            </div>
        </div>

    </form>


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-striped" id="t">
                    <thead>
                    <tr>
                        <th style="color: #0d3057">{{ 'CIN'|trans|raw  }}</th>
                        <th style="color: #0d3057">{{ 'Nom'|trans|raw  }}</th>
                        <th style="color: #0d3057">{{ 'Prenom'|trans|raw  }}</th>
                        <th style="color: #0d3057">{{ 'Date de naissance'|trans|raw  }}</th>
                        <th style="color: #0d3057">{{ 'Adresse'|trans|raw  }}</th>
                        <th style="color: #0d3057">{{ 'Code postal'|trans|raw  }}</th>
                        <th style="color: #0d3057">{{ 'Num Tel'|trans|raw  }}</th>
                        <th style="color: #0d3057">{{ 'Email'|trans|raw  }}</th>
                        <th style="color: #0d3057"> {{ 'Image'|trans|raw  }}</th>


                    </thead>
                    <tbody id="myTable">
                    {% for utilisateur in utilisateurs %}
                        <tr>
                            <td>{{ utilisateur.cinuser }}</td>
                            <td>{{ utilisateur.nomuser }}</td>
                            <td>{{ utilisateur.prenomuser }}</td>
                            <td>{{ utilisateur.ddnuser ? utilisateur.ddnuser|date ('Y-m-d') :''  }}</td>
                            <td>{{ utilisateur.adressuser  }}</td>
                            <td>{{ utilisateur.codepostaluser }}</td>
                            <td>{{ utilisateur.numuser }}</td>
                            <td>{{ utilisateur.loginuser }}</td>
                            <td><img src={{ asset('uploads/images/products/'~ utilisateur.imageName)}} width="40%"></td>


                            <td>
                            <a href="{{ path('ajoutd', {'iduser': utilisateur.iduser}) }}" style="color: #0d3057"><strong><i class="mdi mdi-account-plus"></i>{{ 'Ajouter comme demandeur'|trans|raw  }}</a></strong> <br> <br>
                                <a href="{{ path('ajoutper', {'id': utilisateur.iduser}) }}" style="color: #0d3057"><strong><i class="mdi mdi-account-plus"></i>{{ 'Ajouter comme prestateur'|trans|raw  }}</strong></a>
                            </td>
                            <td>
                                <a href="{{ path('app_utilisateur_showuser', {'id': utilisateur.iduser}) }}" style="color: #0d3057"><strong><i class="mdi mdi-book-open"></i> Afficher</strong></a>
                            </td>
                            <td>
                                <a href="{{ path('app_utilisateur_edit', {'iduser': utilisateur.iduser}) }}" style="color: #0d3057"><strong><i class="mdi mdi-border-color"></i> Modifier</strong> </a>

                            </td>

                            <td>
                            <a href="{{ path('app_utilisateur_edit', {'iduser': utilisateur.iduser}) }}" style="color: #0d3057"><strong><i class="mdi mdi-delete"></i> Supprimer</strong></a>
                            </td>
                            <td>
                                <a href="{{ path('app_utilisateur_bloque', {'iduser': utilisateur.iduser}) }}" style="color: #0d3057"><strong><i class="mdi mdi-lock"></i>{{ 'Bloquer'|trans|raw  }}</strong></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="19">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tbody id="search">
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

    <div class="d-flex justify-content-center">
        {%  do utilisateurs.setPageRange(2) %}
        {{ knp_pagination_render(utilisateurs,'Pagination.html.twig') }}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}
