{% extends 'base-Backutil.html.twig' %}

{% block title %}Demandeur{% endblock %}

{% block body %}
    <h1 style="color: #0d3057" class="text-center">{{ 'Demandeur'|trans|raw  }} : {{ utilisateur.nomuser }} {{ utilisateur.prenomuser }}</h1>
<div class="card border border-primary">
    <div class="card-body  p-5">
    <table class="table">
        <tbody>
        <tr>
            <th style="color: #0d3057">{{ 'CIN'|trans|raw }}</th>
            <td>{{ utilisateur.cinuser }}</td>
        </tr>
        <tr>
            <th style="color: #0d3057">{{ 'Nom'|trans|raw }}</th>
            <td>{{ utilisateur.nomuser }}</td>
        </tr>
        <tr>
            <th style="color: #0d3057">{{ 'Prenom'|trans|raw }}</th>
            <td>{{ utilisateur.prenomuser }}</td>
        </tr>
        <tr>
            <th style="color: #0d3057">{{ 'Date de naissance'|trans|raw }}</th>
            <td>{{ utilisateur.ddnuser ? utilisateur.ddnuser|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th style="color: #0d3057">{{ 'Adresse'|trans|raw }}</th>
            <td>{{ utilisateur.adressuser }}</td>
        </tr>
        <tr>
            <th style="color: #0d3057">{{ 'Code postal'|trans|raw }}</th>
            <td>{{ utilisateur.codepostaluser }}</td>
        </tr>
        <tr>
            <th style="color: #0d3057">{{ 'Num Tel'|trans|raw }}</th>
            <td>{{ utilisateur.numuser }}</td>
        </tr>

        <tr>
            <th style="color: #0d3057">{{ 'Email'|trans|raw }}</th>
            <td>{{ utilisateur.loginuser }}</td>
        </tr>
        <tr>
            <th style="color: #0d3057">{{ 'Libelle demande'|trans|raw }}</th>
            <td>{{ utilisateur.libelledemande }}</td>
        </tr>


        </tbody>
    </table>
        <br>
        <button class="btn btn-primary btn-rounded btn-icon">
            <a href="{{ path('app_utilisateur_showf') }}" style="color: white"><i class="ti-back-left btn-icon-prepend"></i></a>
        </button>
    </div>
</div>


{% endblock %}
