{% extends 'base.html.twig' %}

{% block title %}Factureservice{% endblock %}

{% block body %}
    <h1>Factureservice</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idfactureservice</th>
                <td>{{ factureservice.idfactureservice }}</td>
            </tr>
            <tr>
                <th>Factureservicepdf</th>
                <td>{{ factureservice.factureservicepdf }}</td>
            </tr>
            <tr>
                <th>Datefacture</th>
                <td>{{ factureservice.datefacture ? factureservice.datefacture|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Idcommandeservice</th>
                <td>{{ factureservice.idcommandeservice }}</td>
            </tr>
            <tr>
                <th>Iddevisservice</th>
                <td>{{ factureservice.iddevisservice }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ factureservice.total }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_factureservice_index') }}">back to list</a>

    <a href="{{ path('app_factureservice_edit', {'idfactureservice': factureservice.idfactureservice}) }}">edit</a>

    {{ include('factureservice/_delete_form.html.twig') }}
{% endblock %}
