{% extends 'base-front-cmd.html.twig' %}

{% block title %}Edit Commandeservice{% endblock %}

{% block body %}
    <div class="text-center">
    <h2>{{ 'Modification du commande'|trans|raw }}</h2>
    </br>
    <h3>{{'Commande numéro'|trans|raw}} : {{ commandeservice.idcommandeservice }}</h3>
    {{ include('commandeservice/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_commandeservice_service_utilisateur_cmdserutil',{'id': a}) }}">{{ 'back to list'|trans|raw }}</a>
    <h1></h1>

    {{ include('commandeservice/_delete_form.html.twig') }}

    </div>
{% endblock %}