{% extends 'back-office-cmd.html.twig' %}

{% block title %}CommandeserviceServiceUtilisateur index{% endblock %}

{% block body %}
        <h1 class="text-center" style="color:#0d3057;">{{ 'Liste des commandes des services'|trans|raw }}</h1>
    </br>
    </br>
    <div class="row">
        <div class="col-md-3 mb-4 stretch-card transparent">
            <div class="card card-tale">
                <div class="card-body">
                    <h4>{{ "Commande passer aujourd'hui"|trans|raw}}</h4>
                    </br>
                    </br>
                    <p class="fs-30 mb-2">{{ aujourdhui|number_format }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4 stretch-card transparent">
            <div class="card card-dark-blue">
                <div class="card-body">
                    <h4>{{ 'Commande en cours de traitement'|trans|raw }}</h4>
                    </br>
                    <p class="fs-30 mb-2"> {{ nontraitee|number_format }} </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4 stretch-card transparent">
            <div class="card card-light-blue">
                <div class="card-body">
                    <h4>{{ 'Commande en cours de livraison'|trans|raw }}</h4
                    </br>
                    </br>
                    </br>
                    <p class="fs-30 mb-2">{{ encours|number_format }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4 stretch-card transparent">
            <div class="card card-light-danger">
                <div class="card-body">
                    <h4>{{'Commande déja traitée'|trans|raw}}</h4>
                    </br>
                    </br>
                    <p class="fs-30 mb-2">{{ deja|number_format }}</p>
                </div>
            </div>
        </div>
    </div>
    </br>

    </br>
    <div class="text-center">
        <a href="{{ path('triutilser') }}" class="btn btn-inverse-primary btn-fw">{{ 'Trier par nom utilisateur asc'|trans|raw }}</a>
        <a href="{{ path('triutilserdesc') }}" class="btn btn-outline-primary btn-fw">{{ 'Trier par nom utilisateur desc'|trans|raw }}</a><br><br>
        <a href="{{ path('tridateser') }}" class="btn btn-inverse-primary btn-fw">{{ 'Trier par date requis asc'|trans|raw }}</a>
        <a href="{{ path('tridatedescser') }}" class="btn btn-outline-primary btn-fw">{{ 'Trier par date requis desc'|trans|raw }}</a>
    </div>
    </br>
    </br>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="t">
                        <thead>
                            <tr>
                                <th>{{ 'Client'|trans|raw }}</th>
                                <th>{{ 'Adresse client'|trans|raw }}</th>
                                <th>{{ 'Date du commande'|trans|raw }}</th>
                                <th>{{ 'Nom service'|trans|raw }}</th>
                                <th>{{ 'Date requis'|trans|raw }}</th>
                                <th>{{ 'Nombre de jour'|trans|raw }}</th>
                                <th>{{ 'Status de la commande'|trans|raw }}</th>
                                <th>{{ 'Progress bar'|trans|raw }}</th>
                                <th>{{ 'Prix service(par jour)'|trans|raw }}</th>
                                <th>{{ 'Totale Hors TVA'|trans|raw }}</th>
                                <th>{{ 'Totale'|trans|raw }} <i class="mdi mdi-cash-multiple"> </i></th>
                                <th>{{ 'Facture'|trans|raw }}</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                        {% for commandeservice_service_utilisateur in commandeservice_service_utilisateurs %}
                            <tr>
                                <td><i class="mdi mdi-account"> </i>{{ user.find(commandeservice_service_utilisateur.idutilisateur).getNomuser() }}
                                {{ user.find(commandeservice_service_utilisateur.idutilisateur).getPrenomuser() }}</td>
                                <td>{{ user.find(commandeservice_service_utilisateur.idutilisateur).getAdressuser() }}</td>
                                <td><i class="mdi mdi-calendar"> </i>{{ commande.find(commandeservice_service_utilisateur.idcommandeservice).getDatecommandeservice() }}</td>
                                <td>{{ service.find(commandeservice_service_utilisateur.idservice).getNomservice() }}</td>
                                <td><i class="mdi mdi-calendar-check"> </i>{{ commande.find(commandeservice_service_utilisateur.idcommandeservice).getDaterequis() ? commande.find(commandeservice_service_utilisateur.idcommandeservice).getDaterequis()|date ('Y-m-d') : '' }}</td>
                                <td>{{ commande.find(commandeservice_service_utilisateur.idcommandeservice).getNbjour() }}</td>
                                {% if commande.find(commandeservice_service_utilisateur.idcommandeservice).getStatuscommande() =="En cours de traitement" %}
                                    <td>
                                        <i class="mdi mdi-autorenew"></i> En cours de traitement
                                    </td>
                                {% elseif commande.find(commandeservice_service_utilisateur.idcommandeservice).getStatuscommande() =="En cours de livraison" %}
                                    <td>
                                        <i class="mdi mdi-check"> </i>En cours de livraison
                                    </td>
                                {% elseif commande.find(commandeservice_service_utilisateur.idcommandeservice).getStatuscommande() =="Rejetée" %}
                                    <td>
                                        <i class="mdi mdi-close"> </i>Rejetée
                                    </td>

                                {% elseif commande.find(commandeservice_service_utilisateur.idcommandeservice).getStatuscommande() =="Deja traité" %}
                                    <td>
                                        <i class="mdi mdi-check-all"> </i>Déja traitée
                                    </td>
                                {% else %}
                                    <td>

                                    </td>
                                {% endif %}
                                {% if commande.find(commandeservice_service_utilisateur.idcommandeservice).getStatuscommande() =="En cours de traitement" %}
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                {% elseif commande.find(commandeservice_service_utilisateur.idcommandeservice).getStatuscommande() =="En cours de livraison" %}
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                {% elseif commande.find(commandeservice_service_utilisateur.idcommandeservice).getStatuscommande() =="Rejetée" %}
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                {% elseif commande.find(commandeservice_service_utilisateur.idcommandeservice).getStatuscommande() =="Deja traité" %}
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                {% else %}
                                    <td>

                                    </td>
                                {% endif %}
                                <td>{{ service.find(commandeservice_service_utilisateur.idservice).getPrixservice() }}</td>
                                <td>{{ service.find(commandeservice_service_utilisateur.idservice).getPrixservice()*commande.find(commandeservice_service_utilisateur.idcommandeservice).getNbjour() }}</td>
                                <td>{{ service.find(commandeservice_service_utilisateur.idservice).getPrixservice()*commande.find(commandeservice_service_utilisateur.idcommandeservice).getNbjour()*(1.1) }}</td>
                                {% if facture.findfactureser(commandeservice_service_utilisateur.idcommandeservice) == null %}
                                    <td>

                                    </td>
                                {% else %}
                                    <td>
                                        <a href="{{ asset('uploads/brochures/'~ facture.findfactureser(commandeservice_service_utilisateur.idcommandeservice).getFactureservicepdf()~'service.pdf')}}"/>
                                        <i class="ti-printer btn-icon-append"> </i>  PDF</a>
                                    </td>
                                {% endif %}
                                {% if commande.find(commandeservice_service_utilisateur.idcommandeservice).getStatuscommande()=="Deja traité" %}
                                    <td>
                                        {{'Commande traitée pas de modification'|trans|raw}}
                                    </td>
                                {% elseif commande.find(commandeservice_service_utilisateur.idcommandeservice).getStatuscommande()=="Rejetée" %}
                                    <td>
                                        {{'Commande rejetée pas de modification'|trans|raw}}
                                    </td>
                                {% else %}
                                    <td>
                                        <a href="{{ path('app_commandeservice_edit', {'idcommandeservice': commandeservice_service_utilisateur.idcommandeservice}) }}">{{ 'Modifier la status de la commande'|trans|raw }}  <i class="ti-file btn-icon-append"></i> </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">{{ 'no records found'|trans|raw }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        {% do commandeservice_service_utilisateurs.setPageRange(2) %}
        {{ knp_pagination_render(commandeservice_service_utilisateurs, 'pagination.html.twig') }}
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>


{% endblock %}

