<div class="row">
        {{ form_start(form,{'attr' : {'novalidate':'novalidate'}}) }}
        <table class="align-content-center" >
            <div class="text-center">
                <label class="exampleSelectGender"><h4>{{ form_label(form.modelivraison, "Mode de livraison") }} : </h4></label>

                {{ form_widget(form.modelivraison) }}
                </br>
                <label class="exampleSelectGender"><h5>{{ form_errors(form.modelivraison) }}</h5></label>
                </br>
                </br>
                <button class="btn btn-outline-primary">{{ button_label|default('Passer la commande') }}</button></br></br>
            </div>
        </table>
        {{ form_end(form) }}

</div>