{% extends 'base.html.twig' %}

{% block title %}Commandearticle{% endblock %}

{% block body %}
    <h1>Commandearticle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idcommande</th>
                <td>{{ commandearticle.idcommande }}</td>
            </tr>
            <tr>
                <th>Modelivraison</th>
                <td>{{ commandearticle.modelivraison }}</td>
            </tr>
            <tr>
                <th>Statuslivraison</th>
                <td>{{ commandearticle.statuslivraison }}</td>
            </tr>
            <tr>
                <th>Datecommande</th>
                <td>{{ commandearticle.datecommande ? commandearticle.datecommande|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commandearticle_index') }}">back to list</a>

    <a href="{{ path('app_commandearticle_edit', {'idcommande': commandearticle.idcommande}) }}">edit</a>

    {{ include('commandearticle/_delete_form.html.twig') }}
{% endblock %}
