{% extends 'back-office-cmd.html.twig' %}

{% block title %}Liste de tous les commande des article {% endblock %}

{% block body %}
    <h1 class="text-center">{{ 'Liste des commandes des article'|trans|raw }}</h1>
    </br>
    </br>
    <div class="row">
        <div class="col-md-3 mb-4 stretch-card transparent">
            <div class="card card-tale">
                <div class="card-body">
                    <h4>{{ "Commande passer aujourd'hui"|trans|raw}}</h4>
                    </br>
                    </br>
                    <p class="fs-30 mb-2">{{ aujourdhui|number_format }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4 stretch-card transparent">
            <div class="card card-dark-blue">
                <div class="card-body">
                    <h4>{{ 'Commande en cours de traitement'|trans|raw }}</h4>
                    </br>
                    <p class="fs-30 mb-2"> {{ nontraitee|number_format }} </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4 stretch-card transparent">
            <div class="card card-light-blue">
                <div class="card-body">
                    <h4>{{ 'Commande en cours de livraison'|trans|raw }}</h4>
                    </br>
                    </br>
                    <p class="fs-30 mb-2">{{ encours|number_format }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4 stretch-card transparent">
            <div class="card card-light-danger">
                <div class="card-body">
                    <h4>{{ 'Commande déja traitée'|trans|raw }}</h4>
                    </br>
                    </br>
                    <p class="fs-30 mb-2">{{ deja|number_format }}</p>
                </div>
            </div>
        </div>
    </div>
    </br>
    </br>
    <div class="text-center">
        <a href="{{ path('tri') }}" class="btn btn-inverse-primary btn-fw"> {{ 'Trier par nom utilisateur asc'|trans|raw }}</a>
        <a href="{{ path('tridesc') }}" class="btn btn-outline-primary btn-fw">{{ 'Trier par nom utilisateur desc'|trans|raw }}</a><br><br>
        <a href="{{ path('tridateart') }}" class="btn btn-inverse-primary btn-fw">{{ 'Trier par date de commande asc'|trans|raw }}</a>
        <a href="{{ path('tridatedescart') }}" class="btn btn-outline-primary btn-fw">{{ 'Trier par date de commande desc'|trans|raw }}</a>
    </div>
    </br>
    </br>
    <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="t">
                    <thead>
                        <tr>
                            <th>{{ 'Client'|trans|raw }}</th>
                            <th>{{ 'Date du commande'|trans|raw }}</th>
                            <th>{{ 'Adresse de livraison'|trans|raw }}</th>
                            <th>{{ 'Mode de livraison'|trans|raw }}</th>
                            <th>{{ 'Status de la commande'|trans|raw }}</th>
                            <th>{{ 'Progress bar'|trans|raw }}</th>
                            <th>{{ 'Nom article'|trans|raw }}</th>
                            <th>{{ 'Prix article'|trans|raw }} <i class="mdi mdi-cash-multiple"> </i></th>
                            <th>{{ 'Facture'|trans|raw }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                    {% for commandearticle_article_utilisateur in commandearticle_article_utilisateurs %}
                        <tr>
                            <td><i class="mdi mdi-account"> </i>{{ user.find(commandearticle_article_utilisateur.idutilisateur).getNomuser() }}
                            {{ user.find(commandearticle_article_utilisateur.idutilisateur).getPrenomuser() }}</td>
                            <td><i class="mdi mdi-calendar"> </i>{{ commande.find(commandearticle_article_utilisateur.idcommande).getDatecommande() }}</td>
                            <td>{{ user.find(commandearticle_article_utilisateur.idutilisateur).getAdressuser() }}</td>
                            <td>{{ commande.find(commandearticle_article_utilisateur.idcommande).getModelivraison() }}</td>
                            {% if commande.find(commandearticle_article_utilisateur.idcommande).getStatuslivraison() =="En cours de traitement" %}
                                <td>
                                    <i class="mdi mdi-autorenew"></i> En cours de traitement
                                </td>
                            {% elseif commande.find(commandearticle_article_utilisateur.idcommande).getStatuslivraison() =="En cours de livraison" %}
                                <td>
                                    <i class="mdi mdi-check"> </i>En cours de livraison
                                </td>
                            {% elseif commande.find(commandearticle_article_utilisateur.idcommande).getStatuslivraison() =="Deja traité" %}
                                <td>
                                    <i class="mdi mdi-check-all"> </i> Déja traitée
                                </td>
                            {% elseif commande.find(commandearticle_article_utilisateur.idcommande).getStatuslivraison() =="Rejetée" %}
                                <td>
                                    <i class="mdi mdi-close"> </i>Rejetée
                                </td>
                            {% else %}
                                <td>

                                </td>
                            {% endif %}
                            {% if commande.find(commandearticle_article_utilisateur.idcommande).getStatuslivraison() =="En cours de traitement" %}
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            {% elseif commande.find(commandearticle_article_utilisateur.idcommande).getStatuslivraison() =="En cours de livraison" %}
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            {% elseif commande.find(commandearticle_article_utilisateur.idcommande).getStatuslivraison() =="Deja traité" %}
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            {% elseif commande.find(commandearticle_article_utilisateur.idcommande).getStatuslivraison() =="Rejetée" %}
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                                {% else %}
                                    <td>

                                    </td>
                            {% endif %}
                            <td>{{ article.find(commandearticle_article_utilisateur.idarticle).getNomarticle() }}</td>
                            <td>{{ article.find(commandearticle_article_utilisateur.idarticle).getPrixarticle() }}</td>
                            {% if facture.findfacture(commandearticle_article_utilisateur.idcommande) == null %}
                            <td>

                            </td>
                            {% else %}
                                <td>
                                    <a href="{{ asset('uploads/brochures/'~ facture.findfacture(commandearticle_article_utilisateur.idcommande).getFacturepdf()~'.pdf')}}"/>
                                    <i class="ti-printer btn-icon-append"> </i>  PDF</a>
                                </td>
                                {% endif %}
                            {% if commande.find(commandearticle_article_utilisateur.idcommande).getStatuslivraison()=="Deja traité" %}
                                <td>{{'Commande traitée pas de modification'|trans|raw}}</td>
                            {% elseif commande.find(commandearticle_article_utilisateur.idcommande).getStatuslivraison()=="Rejetée" %}
                                <td>{{'Commande rejetée pas de modification'|trans|raw}}</td>
                            {% else %}
                                <td>
                                    <a href="{{ path('app_commandearticle_edit', {'idcommande': commandearticle_article_utilisateur.idcommande}) }}"><i class="mdi mdi-border-color"></i> {{ 'Modifier la status de la commande'|trans|raw }}   </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">{{ 'no records found'|trans|raw }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    {% do commandearticle_article_utilisateurs.setPageRange(2) %}
    {{ knp_pagination_render(commandearticle_article_utilisateurs, 'pagination.html.twig') }}
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>


{% endblock %}
