{% extends 'base.html.twig' %}

{% block title %}Devisservice index{% endblock %}

{% block body %}
    <h1>Devisservice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Iddevisservice</th>
                <th>Datedevis</th>
                <th>Total</th>
                <th>Idcommandesevice</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for devisservice in devisservices %}
            <tr>
                <td>{{ devisservice.iddevisservice }}</td>
                <td>{{ devisservice.datedevis ? devisservice.datedevis|date('Y-m-d') : '' }}</td>
                <td>{{ devisservice.total }}</td>
                <td>{{ devisservice.idcommandesevice }}</td>
                <td>
                    <a href="{{ path('app_devisservice_show', {'iddevisservice': devisservice.iddevisservice}) }}">show</a>
                    <a href="{{ path('app_devisservice_edit', {'iddevisservice': devisservice.iddevisservice}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_devisservice_new') }}">Create new</a>
{% endblock %}
