
    <div  style="color: #0d3057"><strong>{{ form_label(form.nomcours,"Nom Cours") }}</strong></div>
    <div>{{ form_widget(form.nomcours ,{ 'attr': {'class': 'form-control mb-2'} }) }}</div>
    <div>{{ form_errors(form.nomcours) }}</div>

    <div style="color: #0d3057"><strong>{{ form_label(form.categoriecours,"Categorie") }}</strong></div>
    <div style="color: #0d3057"><strong>{{ form_widget(form.categoriecours , { 'attr': {'class': 'form-control mb-2'} }) }}</strong></div>
    <div>{{ form_errors(form.categoriecours ) }}</div>

    <div style="color: #0d3057"><strong>{{ form_label(form.sujetcours,"Sujet") }}</strong></div>
    <div style="color: #0d3057"><strong></strong>{{ form_widget(form.sujetcours , { 'attr': {'class': 'form-control mb-2'} }) }}</strong></div>
    <div>{{ form_errors(form.sujetcours) }}</div>

    <div style="color:#0d3057"><strong>{{ form_label(form.niveaucours,"Niveau") }}</strong></div>
    <div>{{ form_widget(form.niveaucours , { 'attr': {'class': 'form-control mb-2'} }) }}</div>
    <div>{{ form_errors(form.niveaucours) }}</div>
<div>
    <div style="color: #0d3057"><strong>{{ form_label(form.imageFile,"Image") }}</strong></div>
    <div>{{ form_widget(form.imageFile , { 'attr': {'class': 'form-control mb-2'} }) }}</div>
    <div>{{ form_errors(form.imageFile) }}</div> </div>
<br>
<div class="d-flex justify-content-center">
    <button class="btn btn-inverse-success btn-fw">{{ button_label|default('Enregistrer') }}</button>
</div>
            <br>


{{ form_end(form) }}