<div class="row text-center justify-content-center">
    <div class="col-lg-5 mt-5 mt-lg-10 d-flex align-items-stretch">
        {{ form_start(form,{'attr' : {'novalidate':'novalidate'}}) }}

        <div class="php-email-form">
                <div class="row">
                    <div class="section-title">
                        <h2>{{ 'Service'|trans|raw }} {{ service.nomservice }}</h2>
                        <h4><p>{{ service.descriptionservice }}<br></p></h4>
                        <h5><p>{{ 'Prix du service HT'|trans|raw }}<br></p></h5>
                        <h3><p>{{ service.prixservice }} {{ 'Dt/Jour'|trans|raw }} <br></p></h3>
                    </div>
                    <div class="col-md-6">
                            <label> {{ form_label(form.daterequis, "Date requis"|trans|raw) }}</label></br>
                            {{ form_widget(form.daterequis) }}
                            </br>
                            <label class="exampleSelectGender">{{ form_errors(form.daterequis) }}</label>
                    </div>
                    <div class="col-md-6">
                            <label> {{ form_label(form.nbjour, "Nombre du jour") }}</label></br>
                            <input type="number" class="form-control" {{ form_widget(form.nbjour) }} </br>
                            <label class="exampleSelectGender">{{ form_errors(form.nbjour) }}</label>
                    </div>
                    <div class="text-center">
                            <button class="btn btn-outline-primary">{{ button_label|default('Passer la commande'|trans|raw) }}</button></br></br>
                            <a href="{{ path('app_devisservice_index', {'idservice': service.idservice}) }}">{{ 'Avoir un devis'|trans|raw }}</a>
                    </div>
                </div>
        </div>
        {{ form_end(form) }}

    </div>
</div>
