{% extends 'back-office-cmdform.html.twig' %}

{% block title %}Edit Commandeservice{% endblock %}

{% block body %}
    <div class="text-center">
        <h2 style="color:#0d3057;">{{'Modifier la commande numéro'|trans|raw}} : {{ commandeservice.idcommandeservice }}</h2>
    </div>
<div style="width:50%;margin-top: 2rem;margin-left: auto;margin-right: auto;">
    <div class="card border border-primary">
        <div class="card-body  p-5">
            <br>
            {{ include('commandeservice/_formadmin.html.twig', {'button_label': 'Enregistrer'|trans|raw}) }}
            <br>
            {{ include('commandeservice/_deletecmdseradmin_form.html.twig') }}
            <div class="text-left">
                <div class="form-group">
                    <form action="{{ path("app_commandeservice_service_utilisateur_index") }}">
                        <button class="btn btn-primary btn-rounded btn-icon"><i class="ti-back-left btn-icon-prepend"></i></button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
