{% extends 'base-front-cmd.html.twig' %}

{% block title %}Commandeservice index{% endblock %}

{% block body %}
    <h1>Commandeservice index</h1>
    {{ dump(commandeservices) }}
    <table class="table">
        <thead>
            <tr>
                <th>Idcommandeservice</th>
                <th>Daterequis</th>
                <th>Datecommandeservice</th>
                <th>Statuscommande</th>
                <th>Nbjour</th>
                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for commandeservice in commandeservices %}
            <tr>
                <td>{{ commandeservice.idcommandeservice }}</td>
                <td>{{ commandeservice.daterequis ? commandeservice.daterequis|date('Y-m-d') : '' }}</td>
                <td>{{ commandeservice.datecommandeservice ? commandeservice.datecommandeservice|date('Y-m-d') : '' }}</td>
                <td>{{ commandeservice.statuscommande }}</td>
                <td>{{ commandeservice.nbjour }}</td>
                <td>
                    <a href="{{ path('app_commandeservice_show', {'idcommandeservice': commandeservice.idcommandeservice}) }}">show</a>
                    <a href="{{ path('app_commandeservice_edit', {'idcommandeservice': commandeservice.idcommandeservice}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
