{% extends 'base.html.twig' %}

{% block title %}Commandeservice{% endblock %}

{% block body %}
    <h1>Commandeservice</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idcommandeservice</th>
                <td>{{ commandeservice.idcommandeservice }}</td>
            </tr>
            <tr>
                <th>Daterequis</th>
                <td>{{ commandeservice.daterequis ? commandeservice.daterequis|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datecommandeservice</th>
                <td>{{ commandeservice.datecommandeservice ? commandeservice.datecommandeservice|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Statuscommande</th>
                <td>{{ commandeservice.statuscommande }}</td>
            </tr>
            <tr>
                <th>Nbjour</th>
                <td>{{ commandeservice.nbjour }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commandeservice_index') }}">back to list</a>

    <a href="{{ path('app_commandeservice_edit', {'idcommandeservice': commandeservice.idcommandeservice}) }}">edit</a>

    {{ include('commandeservice/_delete_form.html.twig') }}
{% endblock %}
