{% extends "basepdf.html.twig" %}

{% block body %}
    <div class="text-center">
        <h1>Devis</h1>
        <h2>Article : {{ a.nomarticle }} </h2>
        <h3> Marque : {{ a.marquearticle }}</h3>
        <h6><p>Type de l'article : </p></h6>
        <h3><p>{{ a.typearticle }}</br></p></h3>
        <h6><p>Fiche technique : </p></h6>
        <h3><p>{{ a.fichetechnique }}</br></p></h3>
        <h6><p>Prix (DT) : </p></h6>
        <h3><p>{{ a.prixarticle }}</br></p></h3>
    </div>
{% endblock %}
