{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

<div class="form-group">
    <label for="exampleInputName1">Nom </label>
    <input type="text" class="form-control" id="exampleInputName1" placeholder="Nom article" {{form_widget(form.nomarticle)}}
    {{form_errors(form.nomarticle)}}
</div>
<div class="form-group">
    <label for="exampleInputName1">Marque </label>
    <input type="text" class="form-control" id="exampleInputName1" placeholder="Marque article" {{form_widget(form.marquearticle)}}
    {{form_errors(form.marquearticle)}}
</div>
<div class="form-group">
    <label for="exampleInputEmail3">Type </label>
    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Type article" {{form_widget(form.typearticle)}}
    {{form_errors(form.typearticle)}}
</div>
<div class="form-group">
    <label for="exampleInputName1">Disponibilite </label>
    <input type="text" class="form-control" id="exampleInputName1" placeholder="Disponibilite article" {{form_widget(form.disponibilitearticle)}}
    {{form_errors(form.disponibilitearticle)}}
</div>
<div class="form-group">
    <label for="exampleInputCity1">Couleur </label>
    <input type="text" class="form-control" id="exampleInputCity1" placeholder="Couleur article" {{form_widget(form.couleurarticle)}}
    {{form_errors(form.couleurarticle)}}
</div>
<div class="form-group">
    <label for="exampleInputCity1">Prix </label>
    <input type="number" class="form-control" id="exampleInputCity1" placeholder="Prix article" {{form_widget(form.prixarticle)}}
    {{form_errors(form.prixarticle)}}
</div>
<div class="form-group">
    <label for="exampleInputCity1">Taille </label>
    <input type="text" class="form-control" id="exampleInputCity1" placeholder="Taille article" {{form_widget(form.taillearticle)}}
    {{form_errors(form.taillearticle)}}
</div>
<div class="form-group">
    <label for="exampleTextarea1">Description</label>
    <input type="text" class="form-control" id="exampleInputCity1" placeholder="Description article"  {{form_widget(form.descriptionarticle)}}  </textarea>
    {{form_errors(form.descriptionarticle)}}
</div>
<div class="form-group">
    <label for="exampleInputCity1">Magasin </label>
    {{form_widget(form.magasin)}}

</div>
<div class="form-group">
    <label for="exampleInputCity1">Categorie </label>
    {{form_widget(form.categorie)}}

</div>
<div class="form-group">
    <label>File upload</label>
    <input type="file" name="img[]" class="file-upload-default">
    <div class="input-group col-xs-12">
        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image" {{form_widget(form.imageFile)}}

    </div>
</div>

<button class="btn btn-primary mr-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

