{% extends 'base_back_kais.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table table-striped table-hover" id="t">
        <thead>
            <tr>
                <th>Idarticle</th>
                <th>ImageName</th>
                <th>Nomarticle</th>
                <th>Marquearticle</th>
                <th>Typearticle</th>
                <th>Disponibilitearticle</th>
                <th>Couleurarticle</th>
                <th>Prixarticle</th>
                <th>Taillearticle</th>
                <th>Descriptionarticle</th>
                <th>Ididmagasin</th>
                <th>Idcategoriearticle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="myTable">
        {% for article in articles %}
            <tr>
                <td>{{ article.idarticle }}</td>
                <td><img src={{ asset('uploads/image/art/'  ~ article.imageName) }} width="40%"></td>
                <td>{{ article.nomarticle }}</td>
                <td>{{ article.marquearticle }}</td>
                <td>{{ article.typearticle }}</td>
                <td>{{ article.disponibilitearticle }}</td>
                <td>{{ article.couleurarticle }}</td>
                <td>{{ article.prixarticle }}</td>
                <td>{{ article.taillearticle }}</td>
                <td>{{ article.descriptionarticle }}</td>
                <td>{{ article.ididmagasin }}</td>
                <td>{{ article.idcategoriearticle }}</td>
                <td>
                    <a href="{{ path('app_article_show_back', {'idarticle': article.idarticle}) }}">show</a>
                    <a href="{{ path('app_article_edit_back', {'idarticle': article.idarticle}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    <div class="navigation">
    {{ knp_pagination_render(articles) }}
    </div>

    <a href="{{ path('app_article_new_back') }}">Create new</a>
{% endblock %}
