{% extends 'base_front_kais.html.twig' %}

{% block title %}E - SHOP{% endblock %}

{% block body %}
<main id="main">
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
            </div>

            <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">By magasins  </li>
                {% for mag in magasins %}
                    <li data-filter=".filter-{{ mag.idmagasin }}">{{ mag.nommagasin }}</li>
                {% endfor %}
            </ul>
            <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">By categories </li>
                {% for cat in categories %}
                    <li data-filter=".filter-{{ cat.idcategorie }}">{{ cat.libelle }}</li>
                {% endfor %}
            </ul>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200" >
                {% for article in articles %}
                    <div class="col-lg-4 col-md-6 portfolio-item filter-{{ article.ididmagasin }} filter-{{ article.idcategoriearticle }}">
                    <div class="portfolio-img"><img src="{{ asset('uploads/image/art/'  ~ article.imageName) }}" class="img-fluid" alt="" style="height: 250px;width: 250px"></div>
                    <div class="portfolio-info">
                        <h4>{{ article.nomarticle }}</h4>
                        <p>{{ article.prixarticle }} TND </p>
                        <a href="{{ asset('uploads/image/art/'  ~ article.imageName) }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                        <a href="{{ path('app_article_show_front', {'idarticle': article.idarticle}) }}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        <a href="{{ path('app_commandearticle_new', {'idarticle': article.idarticle}) }}">passer une commande</a>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

</main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    <div class="navigation">
    {{ knp_pagination_render(articles) }}
    </div>

{% endblock %}

{% block css %}

    <link rel="stylesheet" href="{{asset('Back-office/vendors/feather/feather.css')}}">
    <link rel="stylesheet" href="{{asset('Back-office/vendors/ti-icons/css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{asset('Back-office/vendors/css/vendor.bundle.base.css')}}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{asset('Back-office/css/vertical-layout-light/style.css')}}">

    <script src="{{asset('Back-office/js/off-canvas.js')}}"></script>
    <script src="{{asset('Back-office/js/hoverable-collapse.js')}}"></script>
    <script src="{{asset('Back-office/js/template.js')}}"></script>
    <script src="{{asset('Back-office/js/settings.js')}}"></script>
    <script src="{{asset('Back-office/js/todolist.js')}}"></script>
{% endblock %}

{% block head %}
{% endblock %}