{% extends 'base-frontcours.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
    <h1>Cours index</h1>

    <table class="table" border="15">
        <thead>
        <tr >

            <th>Nom Cours </th>
            <th>Categorie </th>
            <th>Sujet </th>
            <th>Niveau </th>
            {# <th>Chapitreclass</th>  #}
            {#<th>actions</th>  #}
        </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
               {#  <td>{{ cour.idcours }}</td>#}
                <td>{{ cour.nomcours }}</td>
                <td>{{ cour.categoriecours }}</td>
                <td>{{ cour.sujetcours }}</td>
                <td>{{ cour.niveaucours }}</td>
                {# <td>{{cour.Chapitre.nomchapitre  }}</td> #}


            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
